.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  width: 100vw; /* Full viewport width */
  margin: 0;
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-x: hidden;
}

.topSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin-bottom: 40px;
}

.newsletter h3, .contactInfo h3 {
  margin-bottom: 10px;
}

.subscribeForm {
  display: flex;
  margin-top: 10px;
}

.subscribeForm input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.subscribeForm button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.currency {
  margin-top: 20px;
}

.smallText {
  font-size: 0.8em;
  margin-top: 5px;
}

.middleSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin-bottom: 40px;
}

.companyInfo, .quickLinks, .followUs {
  flex-basis: 30%;
  margin-bottom: 20px; /* Add margin for spacing on mobile */
}

.companyInfo ul, .quickLinks ul {
  list-style-type: none;
  padding: 0;
}

.companyInfo li, .quickLinks li {
  margin-bottom: 5px;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.bottomSection {
  margin-bottom: 20px;
}

/* mettā muse ACCEPTS section below FOLLOW US */
.mettaMuseAccepts {
  margin-top: 20px;
}

.paymentIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-start;
}

.copyright {
  text-align: center;
  font-size: 0.8em;
}

/* Footer styles for mobile */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
    width: 100vw;
  }

  .topSection, .middleSection, .bottomSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .newsletter, .contactInfo, .companyInfo, .quickLinks, .followUs {
    width: 100%; /* Ensure full-width sections */
  }

  .paymentIcons {
    justify-content: center;
  }

  /* Collapsible sections */
  .companyInfo ul, .quickLinks ul, .followUs {
    display: none;
  }

  .companyInfo h3, .quickLinks h3, .followUs h3 {
    cursor: pointer;
  }

  .companyInfo h3.active + ul,
  .quickLinks h3.active + ul,
  .followUs h3.active + div {
    display: block;
  }
}
