/* General Header Styles */
.header {
  padding: 20px 30px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Top Section: Logo, Icons, and Language Selector */
.topSection {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align items to left and right */
  align-items: center;
  position: relative; /* Needed for absolute positioning of logoText */
}

.leftSection {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none; /* Hidden by default */
  cursor: pointer;
  margin-right: 10px; /* Space between menu icon and logo image */
}

.logoImageSection {
  flex: 0 0 auto; /* Prevents stretching */
}

.logoImage {
  width: 36px;
  height: 36px;
}

.logoText {
  position: absolute; /* Allows centering independently of flex items */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.icons {
  flex: 0 0 auto; /* Prevents stretching */
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Language Dropdown Styling */
.languageDropdown {
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Navbar Styles */
.nav {
  margin-top: 20px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px; /* More space between links */
}

.navItem a {
  text-decoration: none;
  color: black;
  font-family: 'Simplon Norm', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .topSection {
    padding: 10px;
    position: relative;
  }

  .menuIcon {
    display: block; /* Show menu icon on mobile */
  }

  .leftSection {
    display: flex;
    align-items: center;
  }

  .logoImageSection {
    margin-left: 10px; /* Space between menu icon and logo image */
  }

  .logoText {
    font-size: 20px;
  }

  .icons {
    gap: 10px; /* Adjusted gap for mobile */
  }

  .icon {
    font-size: 20px; /* Adjust icon size for mobile */
  }

  /* Hide specific icons in mobile view */
  .icons .faBagShopping,
  .languageDropdown {
    display: none;
  }

  /* Navigation Menu Styling for Mobile */
  .nav {
    width: 100%;
    background-color: white;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
