
.header {
  padding: 20px 30px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.leftSection {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none; 
  cursor: pointer;
  margin-right: 10px; 
}

.logoImageSection {
  flex: 0 0 auto; 
}

.logoImage {
  width: 36px;
  height: 36px;
}

.logoText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.icons {
  flex: 0 0 auto; 
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}


.languageDropdown {
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}


.nav {
  margin-top: 20px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px; 
}

.navItem a {
  text-decoration: none;
  color: black;
  font-family: 'Simplon Norm', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .topSection {
    padding: 10px;
    position: relative;
  }

  .menuIcon {
    display: block; 
  }

  .leftSection {
    display: flex;
    align-items: center;
  }

  .logoImageSection {
    margin-left: 10px; 
  }

  .logoText {
    font-size: 20px;
  }

  .icons {
    gap: 10px; 
  }

  .icon {
    font-size: 20px; 
  }

 
  .icons .faBagShopping,
  .languageDropdown {
    display: none;
  }

 
  .nav {
    width: 100%;
    background-color: white;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
