
.container {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filterButton, .recommendButton {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
}

.filterButton:hover, .recommendButton:hover {
  background-color: #ddd;
}

.filterPanel {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.card {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.iconSection {
  align-self: flex-end;
  margin-top: auto;
}


@media (max-width: 1024px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: 1fr; 
  }

  .filterBar {
    flex-direction: column;
  }

  .filterButton, .recommendButton {
    width: 100%;
    margin-bottom: 10px;
  }

  .filterPanel {
    display: none; 
  }

  .showFilter .filterPanel {
    display: block; 
  }
}
