.card {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.iconSection {
  align-self: flex-end;
  margin-top: auto;
}

.heartIcon {
  font-size: 20px;
  color: #f44336;
  cursor: pointer;
}

/* Product Card styles for mobile */
@media (max-width: 768px) {
  .card {
    padding: 10px;
  }

  .image {
    height: 150px;
  }

  .title {
    font-size: 0.9rem;
  }

  .price {
    font-size: 1rem;
  }

  .heartIcon {
    font-size: 20px;
  }
}
